<div class="container" style="height:100%; width: auto; background-color: #f0f1df">
  <div class="container text-center" style="width: auto;">
    <div class="login">
      <div class="form-signin">
        <h1>Places</h1>
        <input id="filter-places" placeholder="Search for places" type="text" class="form-control">
        <br />
        <br />
        <ul id="placesList" class="list-group"></ul>

        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
</div>